
        #footerA{
            background-color: whitesmoke;
            padding: 10px;
        }
        #footupA{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            gap: 30px;
            padding: 30px;
        }
      
        .underline_hover{
            display: inline-block;
            padding-top: -10px;
            padding-bottom: 1px;
            position: relative;
            margin:8px;
            font-size: 13px;
        }
        .underline_hover::before{
            content: "";
            position: absolute;
            left:0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: rgb(92, 83, 83);
            transition: width;
        }
        .underline_hover:hover::before{
            width:100%;
        }
        a{
           text-decoration:none;
           color: black;
        }
        #footdownA{
            margin:8px;
            font-size: 13px;
            text-align: center;
        }
        #footInput{
            font-size:20px;
            background-color: whitesmoke;
            border-style:hidden;
            padding-top: 30px; 
        }
        i{
            padding: 10px;
        }